 /* body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen','DigitalNumbers-Regular','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue'
}  */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgba(5, 129, 138, 0.781);
  box-shadow: 0px 0px 30px rgba(250, 40, 40, 0.5);
  direction: rtl;
}

 
  .sidebar {
    box-shadow: rgb(195, 207, 103) 2px 5px 20px 1px;
    direction: ltr;

  } 
  




  .relative .group-hover .absolute {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10; /* اضافه کردن z-index */
    }
    
    .relative:hover .group-hover .absolute {
    visibility: visible;
    opacity: 1;
    z-index: 10; /* اضافه کردن z-index */
    }
    
    table th, table td {
    max-width: 150px; /* اندازه ثابت برای ستونها */
    white-space: nowrap; /* جلوگیری از شکستن متن */
    overflow: hidden; /* مخفی کردن متن اضافی */
    text-overflow: ellipsis; /* نمایش ... برای متن اضافی */
    }
    
  
  /* .nav-item,
  .navbar {
    z-index: 10000;
  }

  @media screen and (max-width:800px) {
    .sidebar {
      z-index: 10000000;
    }
  }

  .e-dlg-center-center, 
  .e-quick-popup-wrapper.e-device {
    z-index: 1000000 !important;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgba(5, 129, 138, 0.781);
    box-shadow: 0px 0px 30px rgba(250, 40, 40, 0.5);
    direction: rtl;
  }



  .e-input-group:not(.e-float-icon-left),
  .e-input-group.e-success:not(.e-float-icon-left),
  .e-input-group.e-warning:not(.e-float-icon-left),
  .e-input-group.e-error:not(.e-float-icon-left),
  .e-input-group.e-control-wrapper:not(.e-float-icon-left),
  .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
  .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
  .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
    border: none;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
*/ 